.index-body {
	background-color: rgb(59, 83, 173);
	margin: 5vh;
	font-size: 3vh;
}

.form-control {
	height: 10vh;
	font-size: 5vh;
}

#submit-login {
	margin-top: 2vh;
	height: 10vh;
	width: 30vw;
	font-size: 4vh;
}

@media only screen and (max-width: 500px) {
	font-size: 3vh;
}

form {

}