.open-image {
<<<<<<< HEAD
	padding-top: 8vh;
	height: 45vh;
=======
	padding-top: 5vh;
	height: 40vh;
	//position: fixed;
}

#myVideo {
   position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
>>>>>>> 4ec8a4d1d1834b5521b0f2a77e832509c00d81b3
}

.open-image img {
	height: 30vh;
	margin: 0 auto;
	display: block;
	animation: 1s infinite beatHeart;
}

form {
	position: fixed;
	width: 80%;
	margin-bottom: 5vh;
	display: block;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.buttons {
	display: flex;
}

.feed {
	background-color: #31E981;
	height: 40vh;
}

.body-profile {
	background-color: rgb(59, 83, 173);
	margin: 5vh;
	text-align: center;
	font-size: 4vh;
	color: black;
}

.body-profile h1{
	font-size: 5vh;
}

.table {
	border: none;
	background-color: #31E981;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	display: block;
	vertical-align: bottom;
}


.index-body {
	background-color: rgb(59, 83, 173);
	margin: 5vh;
	font-size: 3vh;
}

.form-control {
	height: 10vh;
	font-size: 5vh;
	box-shadow: 3px 3px 3px black;
}

#submit-login {
	margin-top: 5vh;
	height: 10vh;
	width: 30vw;
	font-size: 4vh;
	 margin:0 auto;
    display:block;
    background-color: #31E981;
    box-shadow: 3px 3px 3px black;
    border: none;
    border-radius: 25px;
}
#signUp {
    margin-top: 5vh;
    height: 10vh;
    width: 30vw;
    font-size: 4vh;
     margin:0 auto;
    display:block;
    background-color: #31E981;
    box-shadow: 3px 3px 3px black;
    border-radius: 25px;
}

#submit-login:hover {
	background-color: grey;
}

#signUp:hover {
	background-color: grey;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.body-landing {
	margin: 5vh;
	background-color: rgb(59, 83, 173);
	padding-top: 14vh;
}

@media only screen and (max-width: 500px) {
	font-size: 3vh;
}

form {

}
@media only screen and (min-width: 0)
html {
    font-size: 5vh;
}

.event-body {
	background-color: rgb(59, 83, 173);
	padding: 5vh;
	color: black;
}

.event-body button {
	margin: 0 auto;
	display: block;
	background-color: #31E981;
	padding: 3vh;
	color: white;
	font-size: 3vh;
	border-radius: 20px;
}

.event-body .form-control {
	height: 5vh;
	font-size: 3vh;
	margin-bottom: 2vh;
	border-radius: 20px;
}

.cd-stretchy-nav {
}
