.open-image {
	padding-top: 8vh;
	height: 45vh;
}

.open-image img {
	height: 30vh;
	margin: 0 auto;
	display: block;
}

.buttons {
	display: flex;
}

.body-profile {
	background-color: rgb(59, 83, 173);
	margin: 5vh;
	text-align: center;
	font-size: 4vh;
}

.index-body {
	background-color: rgb(59, 83, 173);
	margin: 5vh;
	font-size: 3vh;
}

.form-control {
	height: 10vh;
	font-size: 5vh;
}

#submit-login {
	margin-top: 5vh;
	height: 10vh;
	width: 30vw;
	font-size: 4vh;
	 margin:0 auto;
    display:block;
}
#signUp {
    margin-top: 5vh;
    height: 10vh;
    width: 30vw;
    font-size: 4vh;
     margin:0 auto;
    display:block;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.body-landing {
	margin: 5vh;
	background-color: rgb(59, 83, 173);
}

@media only screen and (max-width: 500px) {
	font-size: 3vh;
}

form {

}
